# Data Types

In [6]:
# Integers: whole numbers
## Examples of valid integer literals
## NOTE: a literal is a symbol whose meaning is hopefully obvious
1
2
5
1329
123_456 # The underscore can be used as a visual separator; it does not affect the value

123456

In [3]:
# Floats: numbers with fractional parts
## NOTE: Floats are imprecise! Do not use them for precise calculations
## Examples of valid float literals
1.0
1.5
1.
.1
12.10
123_456.5

123456.5

In [5]:
# Booleans: just either True or False
True
False

False

In [ ]:
# Strings: a sequence of characters
## Examples of valid string literals
"a"

"hi"

'single quotes'

'''triple single quotes'''

"""triple double quotes"""

""

''

'''
multiline string
inside
triple quotes
'''

f'An "f" string for formatting. We will see more of this later'

# Variables

In [7]:
# Assign values to names. The names can be referred to later.
my_integer = 1
my_float = 1.2
my_boolean = True
my_string = "hello world"

In [8]:
# You can treat the names as the values themselves
my_integer * 2

2

In [9]:
# You can re-assign variable names
my_integer = 2

# Input and Output

In [ ]:
# Take input with the input() function. We will see more functions later.
message = input()

In [11]:
# NOTE: input() returns a string. 
# Some students expect it to automatically convert data if the data can be interpreted as a number.
# You need to cast the data manually.
type(input())

 1

str

In [18]:
# You can try to convert a value into another data type by passing it to any of these functions:
# int, float, bool, str
# Example:
int("1")

1

In [19]:
# Conversion (or casting) does not always work.
# Example. This will not work:
int("Not an integer")

ValueError: invalid literal for int() with base 10: 'Not an integer'

In [13]:
# Display output with the print() function.
first_line = "Hello,"
second_line = "world!"
## NOTE: in Jupyter, it may not be obvious why you need print() since the cells display the value of
## the last expression. But if you want to display multiple values, you will need print().
print(first_line)
print(second_line)

Hello,
world!

# Operations

In [14]:
# Integer operations
## NOTE: Most of these also apply to floats
1 + 1 # Addition
2 - 1 # Subtraction
2 * 2 # Multiplication
2 / 2 # Division (returns a float)
2 // 1 # Floor division (returns an integer) (discards the fractional part of the float)
5 ** 2 # Raise to power
5 % 2 # Take remainder

1

In [16]:
a = 5
b = 2
# Comparison operators. Return booleans.
a == b # Is equal to. Note the double equals.
a != b # Is not equal to
a > b # Is greater than
a >= b # Is greater than or equal to
a < b # Is less than
a <= b # Is less than or equal to

False

In [17]:
a = True
b = False
# Logical operators. Return booleans.
a or b # Logical OR
a and b # Logical AND
not a # Logical NOT

False